.container {
    padding-top: 80px;
    padding-bottom: 100px;
    max-width: 100%;
    width: 100%;
    background: rgb(6, 155, 118);
    border: 1px solid black;
    display: flex;
}

.row {
    width: 65%;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 100px;
    border-radius: 20px;
    color:white;
    background: black;
}

.col-md-6{
    height: 400px;
    padding: 40px;
  
}

#imagenDerecha{
    background-size: cover;
    background-position: cover;
    background-image: url('../../assets/imagenes/login.jpg');
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}



.imagenUsuario {
    margin: 0px auto;
    width: 100px;
}

.divGrupo {
    margin-top: 1px;
    margin-bottom: 20px;
}

.labelFormulario {
    text-align: center;
    width: 100%;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 40px;

}

.form-control {
    border: 1px solid rgb(190, 190, 190);
}

.divButton {
    text-align: center;
    width: 100%;

}

.btn {
    width: 40%;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color:white;

}

@media screen and (max-width: 800px){

    .row {
        width: 100%;
        margin: 0px auto;
        margin-top: 50px;
        margin-bottom: 100px;
        border-radius: 20px;
        color:white;
        background:black;
    }
    
    .col-md-6{
        width: 100%;
        height: 400px;
        padding: 40px;
      
    }

    #imagenDerecha{
        background-size: cover;
        background-position: cover;
        background-image: url('../../assets/imagenes/login.jpg');
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 10px;
        height: 5px;
    }

    .btn{
        width: 100%;
    }

}