.container{
    margin-top: 10px;
}


.tituloComentario{
    text-align: center;
    font-size: 25px;
    color: green;
    font-weight: bold;
}

.subtituloComentario{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.divRegistrarse{
    text-align: center;
}

.form-control{
    border: 1px solid black;
    margin: 10px;
    margin-top: 20px;
}

.col-9{
    margin: 0px auto;
    margin-bottom: 15px;
}

.nombre{
    border: none;
    font-weight: bold; 
    color:green
}

#boton{
    margin: 0px auto;
    width: 30%;
}

.divboton{
  margin-top: 20px;
}

.div_botonEnviar{
text-align: center;
width: 100%;
}

.modal-title{
    color: green;
}

.col-form-label{
    color: green;
}

.labelNombre{
    margin-left: 10px;
    color: black;
}

.divTexarea{
    width: 100%;
}

.textarea{
    width: 100%;
    border-radius: 10px;
}

.DivBotonComentario{
    width: 100%;
    text-align: center;
    margin: 10px;
}

.btn{
    margin-left: 10px;
}

.labelUsuario{
    font-weight: bold;
    margin-right: 10px;
}

.labelHoraFecha{
    font-size: 13px;
    color:gray;
}

#divComentarios{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

#modalEliminar .modal-title{
  color: red;
}




@media screen and (max-width:800px){

    .tituloComentario{
        text-align: center;
        font-size: 20px;
        color: green;
        font-weight: bold;
    }
    
    .subtituloComentario{
        text-align: center;
        font-size: 15px;
        margin-bottom: 20px;
    }

    .col-9{
        margin: 0px auto;
        margin-bottom: 15px;
        width: 100%;
    }

    .form-control{
       width: 100%;
       margin: 0px;
       margin-top: 10px;
       margin-bottom: 10px;
    }

    #boton{
        margin: 0px auto;
        width: 100%;
    }
    
}