<div class="container">
  <div class="row">
    <label class="labelFormulario">Registrate para comentar</label>
    <img class="imagenUsuario" src="../../assets/imagenes/imagenUsuario.png">

    <div class="divGrupo">
      <label for="inputNombre">Nombre</label>
      <input type="text" class="form-control" id="campoInput"
      [(ngModel)]="usuario.nombre" name="nombre"
      [ngStyle]="{'background': inputBackground,'color': color}"
       >
    </div>

    <div class="divGrupo">
      <label for="inputEmail">Email</label>
      <input type="email" class="form-control" id="campoInput"
      [(ngModel)]="usuario.email" name="email"
      [ngStyle]="{'background': inputBackground,'color': color}"
       >
    </div>
    
    <div class="divGrupo">
      <label for="inputPassword">Escribe una contraseña</label>
      <input type="password" class="form-control" id="campoInput"
        [ngStyle]="{'background': inputBackground,'color': color}" 
        [(ngModel)]="usuario.password" name="password"
        >
    </div>
    <div class="divGrupo">
      <label for="inputPassword">Repite la contraseña</label>
      <input type="password" class="form-control" id="campoInput"
        [ngStyle]="{'background': inputBackground,'color': color}"
        [(ngModel)]="usuario.repetirPassword" name="repetirPassword"
        >
    </div>
    <div class="divButton">
      <button type="button" class="btn btn-success" (click)="Guardar()">Registrar</button>
      <button type="button" class="btn btn-success"><a href="/sesion">Iniciar Sesión</a></button>
    </div>
    <span [hidden]="mostrar">*Los campos contraseña y repetir contraseña no coincide </span>
    <span [hidden]="correoExiste">*Correo ya existe </span>
    <span [hidden]="usuarioExiste">*Usuario ya existe </span>
  </div>
</div>