<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="labelAhorro">Ahorro</div>   
    </div>
    <div class="col-md-4">
      <div class="labelAhorroParrafo">En esta sección te brindaremos <br>todo lo que debes de saber<br> para que pueda
        lograr ahorrar <br> y dar un buen uso a tus ahorros</div>
    </div>
    <div class="col-md-4">
      <img class="imagenAhorro" src="../../assets/imagenes/imagenBolsa.png" >
    </div>
  </div>

</div>


<div class="containerContenido" style="max-width: 100%">

  <div class="rowContenido">
    <div class="col-md-12">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              Definición de Ahorros
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>El ahorro</strong>
              <p>Es una práctica financiera fundamental que consiste en reservar una parte de los ingresos para
                utilizarla en el futuro. Es una herramienta poderosa que permite acumular recursos y hacer frente a
                necesidades y metas financieras a largo plazo.</p>
                <img class="imagenAcordion" src="../../assets/imagenes/imagenBolsaColor.png">
                <img class="imagenAcordion" src="../../assets/imagenes/imagenBillete.png" >
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Para que sirve Ahorrar?
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                El ahorro es el primer paso para tener una buena salud financiera.
                Y mejorar tu salud financiera, va más allá del dinero:
                va de la libertad de decidir cosas como cuánto tiempo paso con mis personas favoritas,
                a qué lugares quiero viajar o
                qué trabajo es el que más ilusión me hace.
              </p>
              <img class="imagenAcordion" src="../../assets/imagenes/imagenCerdito.png" >
              <img class="imagenAcordion" src="../../assets/imagenes/imagenBolsita.png">
              <p>Tener una buena salud financiera te permite:</p>
              <p>
                -Pasar más tiempo con las personas que te importan<br>
                -Cambiar de trabajo cuando lo necesites<br>
                -Dormir tranquilo<br>
                -Viajar más<br>
                -Planificar mejor tu jubilación<br>
                -Comprar mejor<br>
                -Evitar estafas<br>
                -Combatir la inflación<br>
              </p>
              <p>
                Para lograr una buena salud financiera es importante dominar el arte de las finanzas personales.
              </p>
              <p>
                A veces una pequeña inversión puede cambiar tu vida para siempre, 
                por eso te recomiendo aprender educación financiera,
                 lo que te ayudará a conseguir una salud financiera de hierro.
              </p>
              <p>Para ello, en Economipedia hemos creado un programa de educación financiera 
                para que de la mano de nuestros expertos aprendas a utilizar el poder de las finanzas 
                para conseguir la tranquilidad financiera y 
                construir tu riqueza.</p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Consejo para ahorrar
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <img class="imagenAcordion" src="../../assets/imagenes/imagenMano.png" >
              <p><strong>1-Establecer metas claras:</strong><br> Define objetivos financieros específicos y
                realistas. Establecer metas claras te dará motivación y
                te ayudará a mantener el enfoque en el ahorro.
              </p>

              <p><strong>2- Presupuestar:</strong><br> Elabora un presupuesto para tener un panorama claro de tus ingresos y gastos.
                Identifica áreas en las que puedas reducir gastos y destinar ese dinero al ahorro. </p>

              <p> <strong>3- Automatizar el ahorro:</strong> <br> Configura transferencias automáticas para que una parte de tus ingresos
                se destine directamente a una cuenta de ahorros.
                Esto te ayudará a ser consistente en tu hábito de ahorro.</p>

              <p><strong>4- Reducir deudas:</strong><br> Destina parte de tus ahorros para pagar deudas. Reducir tus deudas te permitirá
                ahorrar más a largo plazo,
                ya que no tendrás que destinar tanto dinero al pago de intereses.</p>

              <p><strong>5- Ahorrar antes de gastar:</strong><br> Haz del ahorro una prioridad y
                reserva una parte de tus ingresos tan pronto como los recibas,
                antes de gastar en otros gastos o deseos.</p>

              <p>
                <strong>6- Evaluar y reducir gastos innecesarios:</strong> <br>Revisa tus gastos y elimina aquellos que no sean realmente
                necesarios.
                Pequeños ahorros en gastos cotidianos pueden sumar una cantidad significativa a lo largo del tiempo.
              </p>
              <p>
                <strong>7- Buscar rendimiento:</strong><br> Considera invertir tus ahorros en instrumentos financieros que ofrezcan un
                rendimiento adecuado. Evalúa opciones como cuentas de ahorro con intereses,
                certificados de depósito o fondos de inversión,
                dependiendo de tus objetivos y tolerancia al riesgo.
              </p>

              <p>
                <strong>8- Mantener la disciplina:</strong><br> El ahorro requiere disciplina y constancia.
                Mantén el compromiso con tus metas financieras y
                evita tentaciones de gastos innecesarios.
              </p>
              <p>
                Recuerda que el ahorro es un proceso gradual y requiere paciencia y disciplina.
                Iniciar con pequeñas cantidades y aumentar progresivamente el monto de ahorro es un buen enfoque. Cada
                pequeño paso cuenta y
                te acercará a la seguridad financiera y el logro de tus metas.
              </p>

            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
              aria-expanded="false" aria-controls="collapseFour">
              Dificultades al ahorrar
            </button>
          </h2>
          
          <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <img class="imagenAcordion" src="../../assets/imagenes/imagenCaer.png" >
              <p>No consumir en el presente supone un coste de oportunidad y por lo tanto, 
                se está asumiendo cierto riesgo. Puede suceder, por ejemplo, 
                que el producto que el individuo quería comprar con sus ahorros luego se agote en el mercado.
              </p>
              <p>
                Otro punto a resaltar es que en muchos casos las familias no pueden llegar a fin de mes, es decir,
                 gastan todos sus ingresos. Debemos tomar en cuenta que influye el elemento cultural.
                  Así, existen países con orientación al ahorro como Japón,
                 y otras naciones más capitalistas con mayor tendencia al consumo como EE.UU.
              </p>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
              aria-expanded="false" aria-controls="collapseFive">
              Donde guardar tus  Ahorros?
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <img class="imagenAcordion" src="../../assets/imagenes/imagenBanco.png" >
              <img class="imagenAcordion" src="../../assets/imagenes/imagenEdificio.png" >
              <p>
                El ahorro puede mantenerse en dinero en efectivo pero 
                también puede guardarse en otros activos que mantengan su valor a lo largo del tiempo y 
                amortigüen el impacto de la inflación. Entre esos activos podemos destacar el oro, 
                los depósitos bancarios y las letras del tesoro, o fondos de inversión que invierten en estos activos,
                 como los fondos monetarios o fondos de inversión de renta fija de gobiernos de corto plazo. 
                Son lo que se conoce como equivalentes de efectivo.
              </p>
              <p>
                Muchas entidades financieras ofrecen activos de ahorro a largo plazo asociados a renta fija y
                 a renta variable como los planes de pensiones o planes de jubilación. 
                 Estos son programas de ahorro periódico,
                 algunos de ellos con ventajas fiscales que incentivan su contratación.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>