<div class="container">
    <div class="row align-items-center">
      <div class="col-md-8" id="col">
         <div class="labelCredito">crédito</div>
        <div class="labelCreditoParrafo">
         Los creditos por lo general lo obtenemos para poder
         obtener porductos y servicios al instante
         y luego pagarlos en cuotas
        </div>      
      </div>
      <div class="col-md-4"  id="col"><img class="imagenCredito" src="../../assets/imagenes/imagenCreditoAzul.png" ></div>
    </div>
  </div>

  <div class="containerContenido" style="max-width: 100%">

    <div class="rowContenido">
      <div class="col-md-12">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Definición de Inversión
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>El Crédito</strong>
                <p>El crédito es un instrumento financiero que permite obtener recursos monetarios o bienes y servicios de manera inmediata,
                     a cambio de comprometerse a devolverlos en el futuro, generalmente con intereses.
                     </p>
                
                  <img class="imagenAcordion" src="../../assets/imagenes/imagenCreditoRojo.png" style="margin-right: 50px;">
                  <img  class="imagenAcordion" src="../../assets/imagenes/imagenCreditoBillete.png">
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Tipos de crédito
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <img class="imagenAcordion"  src="../../assets/imagenes/imagenCreditoCasa.png" >
                <img class="imagenAcordion"  src="../../assets/imagenes/imagenCreditoTarjeta.png">
                <p>
                  <strong>1- Préstamos personales: </strong><br>Son créditos otorgados a individuos para satisfacer necesidades personales, como la compra de bienes o servicios, la consolidación de deudas o gastos médicos. 
                  Los préstamos personales suelen tener plazos de pago fijos y tasas de interés determinadas.
                </p>
                <p>
               <strong>2- Tarjetas de crédito: </strong><br> Las tarjetas de crédito permiten realizar compras y pagarlas en el futuro. Los titulares de tarjetas de crédito pueden optar por pagar el saldo total cada mes o realizar pagos mínimos y financiar el saldo restante, lo que genera intereses.
                </p>
                <p>
                 <strong>3- Crédito hipotecario: </strong><br> Es un préstamo destinado a la adquisición de una vivienda. El inmueble se utiliza como garantía y se establece un plazo de pago a largo plazo.
                </p>
                <p>
                    <strong>4- Crédito automotriz: </strong><br> Es un préstamo otorgado para la compra de un vehículo. El automóvil se utiliza como garantía y se establece un plazo de pago específico.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Factores a considerar antes de solicitar crédito
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <img class="imagenAcordion"  src="../../assets/imagenes/imagenCreditoLibreta.png">
                <p><strong>1- Capacidad de pago:</strong><br> Evalúa tu capacidad de pago y asegúrate de que podrás cumplir con los pagos mensuales del crédito. Considera tus ingresos, gastos y otras obligaciones financieras.
                </p>
  
                <p><strong>2- Tasa de interés: </strong><br> Compara las tasas de interés ofrecidas por diferentes entidades financieras. Una tasa de interés más baja significa un costo financiero menor. </p>
  
                <p><strong>3- Diversificación:</strong> <br>La diversificación implica invertir en una variedad de activos para reducir el riesgo.
                     Al diversificar, puedes distribuir tu dinero en diferentes clases de activos, 
                    regiones geográficas o sectores económicos.</p>
  
                <p><strong>4- Plazo de pago:</strong> <br> Considera el plazo de pago del crédito. Un plazo más largo puede implicar pagos mensuales más bajos,
                     pero también pagos de intereses más altos a largo plazo.</p>
  
                <p><strong>5- Condiciones y comisiones:</strong><br>Lee detenidamente los términos y condiciones del crédito, así como las comisiones y cargos asociados.
                     Asegúrate de entender todas las cláusulas y costos adicionales.</p>
              </div>
            </div>
          </div>
  
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                aria-expanded="false" aria-controls="collapseFour">
                Importancia de un buen historial crediticio
              </button>
            </h2>
            
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <img class="imagenAcordion"  src="../../assets/imagenes/imagenCreditoHistorial.png">
                <img class="imagenAcordion"  src="../../assets/imagenes/imagenCreditoOtroHistorial.png">
                <p>Un buen historial crediticio es fundamental para obtener crédito en mejores condiciones. 
                    Algunos aspectos relevantes son:</p>

                <p><strong>1- Puntualidad en los pagos: </strong><br> Cumplir con los pagos en tiempo y forma demuestra responsabilidad financiera y fortalece tu historial crediticio.
                </p>
                <p>
                  <strong>2- Utilización responsable del crédito:</strong> <br> Evita endeudarte en exceso y
                   utiliza el crédito de manera responsable. 
                  Mantén un equilibrio entre el límite de crédito y el saldo utilizado.
                </p>
                <p>
                   <strong> 3- Diversificación del crédito: </strong><br> Mantener una variedad de tipos de crédito, como préstamos y tarjetas de crédito, 
                   puede ser beneficioso para tu historial crediticio.
                </p>
                <p>
                    <strong>4- Verificación de informes crediticios:</strong><br> Revisa regularmente tu informe crediticio para asegurarte de que la información sea precisa y
                     reportar cualquier error que puedas encontrar.
                </p>
                <p>
                    Recuerda que el crédito puede ser una herramienta útil si se utiliza de manera responsable. 
                    Antes de solicitar crédito, evalúa tus necesidades y capacidades financieras, 
                    compara opciones y toma decisiones informadas.
                </p>
              </div>
            </div>
          </div>
  
        </div>
      </div>
  
    </div>
  </div>
