<div class="container">
    <div class="row">
      <div class="col-md-4 order-2 order-md-1">
        <div class="labelInversionParrafo">Invertir te ayudará a obtener y multiplicar tus ganacias,<br>
        esto a su vez te ayudará a tener un mejor futuro económico</div>
          
        
      </div>

      <div class="col-md-4 order-1 order-md-2">
        <div class="labelInversion">Inversión</div>
      </div>

      <div class="col-md-4 order-3 order-md-3">
        <img class="imagenInversion" src="../../assets/imagenes/imagenTableroInversion.png" width="230px">
      </div>
    </div>
  </div>


  <div class="containerContenido" style="max-width: 100%">

    <div class="rowContenido">
      <div class="col-md-12">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Definición de Inversión
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>La Inversion</strong>
                <p>Es una estrategia financiera en la que se destina capital a un activo,
                     negocio o proyecto con el objetivo de obtener ganancias a largo plazo. </p>
                     <p>Cuando se realiza una inversión se asume un coste de oportunidad al renunciar 
                        a esos recursos en el presente para lograr el beneficio futuro, el cual es incierto. 
                        Por ello cuando se realiza una inversión se está asumiendo cierto riesgo. 
                        Pero a cambio se espera obtener rendimientos por esa inversión, 
                        ganando más de lo que se invirtió.</p>
                        <p>Para disponer de dinero para invertir es necesario haber tenido ingresos y
                             ahorrado previamente parte de estos ingresos.</p>
                  <img class="imagenAcordion" src="../../assets/imagenes/imagenBarraInversion.png" >
                  <img class="imagenAcordion" src="../../assets/imagenes/imagenPlantaInversion.png" >
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Para que sirve la inversión?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <img class="imagenAcordion" src="../../assets/imagenes/imagenMonedaInversion.png" >
                <img class="imagenAcordion" src="../../assets/imagenes/imagenPesoInversion.png" >
                <p>
                  <strong>1- Crecimiento del patrimonio:</strong><br> La inversión puede ayudar a hacer crecer tu patrimonio y generar ganancias en el tiempo.
                </p>
                <p>
               <strong>2- Generación de ingresos pasivos:</strong><br> Al invertir en activos que generan ingresos, como acciones que pagan dividendos o propiedades que se alquilan,
                puedes obtener ingresos pasivos adicionales.
                </p>
                <p>
                 <strong>3- Diversificación:</strong><br> La inversión te permite diversificar tus fuentes de ingresos y disminuir el riesgo al distribuir tus activos en diferentes clases de inversión y
                  sectores económicos.
                </p>
                <p>
                    <strong>4- Protección contra la inflación:</strong><br> Al invertir, puedes buscar activos que ofrezcan rendimientos superiores a la tasa de inflación, 
                    lo que ayuda a preservar el poder adquisitivo de tu dinero.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Conceptos claves de la inversión
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <img class="imagenAcordion" src="../../assets/imagenes/imagenFlechaInversion.png" >
                <p><strong>1-Riesgo y rendimiento:</strong><br> Existe una relación directa entre el riesgo y 
                    el rendimiento potencial de una inversión. En general, las inversiones más arriesgadas tienen el potencial de generar mayores rendimientos, 
                    pero también conllevan una mayor posibilidad de pérdida.
                </p>
  
                <p><strong>2- Horizonte temporal:</strong><br> El horizonte temporal es el período de tiempo durante el cual planeas mantener tu inversión. 
                    Puedes elegir inversiones a corto plazo, como bonos, 
                    o a largo plazo, como acciones o bienes raíces. </p>
  
                <p><strong>3- Diversificación:</strong> <br>La diversificación implica invertir en una variedad de activos para reducir el riesgo.
                     Al diversificar, puedes distribuir tu dinero en diferentes clases de activos, 
                    regiones geográficas o sectores económicos.</p>
  
                <p><strong>4- Análisis de riesgo y retorno:</strong> <br>Antes de realizar una inversión, 
                    es importante realizar un análisis de riesgo y retorno. 
                    Evalúa los posibles riesgos asociados con la inversión y 
                    compáralos con las expectativas de retorno.</p>
  
                <p><strong>5- Liquidez: </strong><br>La liquidez se refiere a la facilidad con la que puedes convertir una inversión en efectivo. 
                    Algunas inversiones son más líquidas que otras, 
                    lo que significa que puedes venderlas rápidamente sin incurrir en grandes costos.</p>
              </div>
            </div>
          </div>
  
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                aria-expanded="false" aria-controls="collapseFour">
                Tipos de Inversión
              </button>
            </h2>
            
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <img  class="imagenAcordion" src="../../assets/imagenes/imagenTiposInversion.png">
                <img class="imagenAcordion" src="../../assets/imagenes/imagenOtroTipoInversion.png" >
                <p><strong>1- Acciones:</strong><br> Al comprar acciones, te conviertes en propietario de una parte de una empresa y 
                    puedes beneficiarte de su crecimiento y dividendos.
                </p>
                <p>
                  <strong>2- Bonos:</strong> <br>Los bonos son deudas emitidas por gobiernos, empresas o entidades.
                   Al comprar un bono, estás prestando dinero a cambio de pagos de intereses regulares y 
                  la devolución del capital al vencimiento.
                </p>
                <p>
                   <strong> 3- Fondos de inversión:</strong><br> Los fondos de inversión agrupan el dinero de múltiples inversionistas 
                    para invertir en una cartera diversificada de activos, 
                    gestionados por profesionales.
                </p>
                <p>
                    <strong>4- Bienes raíces:</strong><br> Invertir en propiedades comerciales o residenciales para alquilar o vender es otra opción.
                     Los bienes raíces pueden generar ingresos regulares y apreciación del valor a largo plazo.
                </p>
                <p>
                    <strong>5- Mercado de divisas (Forex):</strong><br> El mercado de divisas implica la compra y 
                    venta de monedas extranjeras con el objetivo de obtener ganancias
                </p>
              </div>
            </div>
          </div>
  
        </div>
      </div>
  
    </div>
  </div>