<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/imagenes/PrimeraPortada.jpg" class="d-block w-100">
      <div class="mensajeCarrusel">
        <p>Ahorrar te ayuda a tener liquidez en el futuro</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/imagenes/SegundaPortada.jpg" class="d-block w-100">
      <div class="mensajeCarrusel">
        <p>Una buena educación financiera te permite mejorar tu economía</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../assets/imagenes/TerceraPortada.jpg" class="d-block w-100">
      <div class="mensajeCarrusel">
        <p>Invertir es una gran solución para incrementar tus ingresos</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container text-center" style="max-width: 100%;">
  <div class="row">
    <div class="col-md-4" >
      <div class="card">
        <img src="../../assets/imagenes/imagenAhorro.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ahorro</h5>
          <p class="card-text">

            Es una práctica financiera que consiste en reservar una parte de los ingresos para utilizarla en el futuro.
            Esto nos permite permite acumular recursos a largo plazo.

          </p>
          <a href="/ahorro" class="btn btn-success">Más Información</a>
        </div>
      </div>
    </div>

    <div class="col-md-4" >
      <div class="card">
        <img src="../../assets/imagenes/imagenInversion.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Inversión</h5>
          <p class="card-text">

            Es una estrategia financiera en la que se destina capital a un activo, negocio o 
            proyecto con el objetivo de obtener ganancias a largo plazo.

          </p>
          <a href="/inversion" class="btn btn-success">Más Información</a>
        </div>
      </div>
    </div>

    <div class="col-md-4" >
      <div class="card">
        <img src="../../assets/imagenes/imagenCredito.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Credito</h5>
          <p class="card-text">
            El crédito es un instrumento financiero que permite obtener recursos monetarios o
             bienes y servicios de manera inmediata, y devolverlocon intereses.
          </p>
          <a href="/credito" class="btn btn-success">Más Información</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="containerFrases" style="max-width: 100%">
  <div class="rowFrases" >
    <div class="col-md-6" >
      La educación financiera es un tema fundamental para desarrollar habilidades y conocimientos que permitan a las personas tomar decisiones financieras informadas y responsables. 
    </div>
  </div>
</div>
<app-comentarios></app-comentarios>
